parameters:
    paths:
        - src
    excludePaths:
        - src/DependencyInjection/*
        - src/Controller/Action/ToggleEnableAction.php
    level: max
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
