<h1 class="ui header">
    <i class="circular signal icon"></i>
    <div class="content">
        <span>{{ 'abenmada_multi_factor_authentication_plugin.ui.multi_factor_authentication'|trans }}</span>
        <div class="sub header">{{ 'abenmada_multi_factor_authentication_plugin.ui.multi_factor_authentication'|trans }}</div>
    </div>
</h1>
